pipeline/pp3.json
{
	"name": "pp3",
	"properties": {
		"activities": [
			{
				"name": "Cust_Non_Cust_Get_Meta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Cust_and_non_cust_source_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Cust_non_cust_for_each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Cust_Non_Cust_Get_Meta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Cust_Non_Cust_Get_Meta').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "cust_data_name_checker",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(indexOf(item().name, 'cust'), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set_Var_False",
										"description": "setting false",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "dest_folder_name",
											"value": "non_cust"
										}
									},
									{
										"name": "Copy_to_non_cust",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Set_Var_False",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "item().name",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureFileStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Cust_and_non_cust_source_files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "cust_and_non_cust_dest",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "copy_to_cust_folder",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "SetToTrue",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "item().name",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureFileStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Cust_and_non_cust_source_files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "cust_and_non_cust_dest",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "SetToTrue",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "dest_folder_name",
											"value": "cust_data"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"dest_folder_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}